#IntelliJ
.idea/*
**.iml
**.ipr
**.iws

#Maven
target/*
JavaExample/target/*
ScalaExample/target/*
ScalaLoader/target/*

#Eclipse
.settings/*
.project
.classpath

stager_feedback.txt
